#phrase li {
    display: inline;
    padding: 2px;
    font-size: 40px;
    position: relative;
    bottom: 30px;
}

img {
    height: 600px;
    position: relative;
    left:430px;
}

#winner {
    display: none;
    color: green;
}

#loser {
    display: none;
    color: red;
}

#new-game-btn {
    display: none;
}

#game {
    display: none;
}
#player-stats {
    float: left;
    position: relative ;
    left: 150px;
    top:30px;
    
}

#player-form {
    display: none;
}


.alphabet {
    position: relative;
    bottom: 450px;
    margin: 30px;
}
.winner {
    position: relative;
    left:50px;
    bottom: 450px;
    margin: 20px;
}
#new-game-btn{
    position: relative;
    bottom:450px;
}

#phrase-category {
    position: relative;
    bottom:450px;
}

@keyframes 			firework-animation {
    0% {background-color : #ff8426;}
    25% {background-color : #fffc84;}
    50% {background-color : #ff83f4;}
    75% {background-color : #83b6ff;}
    100% {background-color : #ff8426;}
}
@-webkit-keyframes 	firework-animation {
    0% {background-color : #ff8426;}
    25% {background-color : #fffc84;}
    50% {background-color : #ff83f4;}
    75% {background-color : #83b6ff;}
    100% {background-color : #ff8426;}
}
@keyframes 			firework-seed-animation	{
    0% {background-color : #ff8426;}
    25% {background-color : #fffc84;}
    100% {background-color : #ff8426;}
}
@-webkit-keyframes	firework-seed-animation	{
    0% {background-color : #ff8426;}
    25% {background-color : #fffc84;}
    100% {background-color : #ff8426;}
}
@keyframes 			firework-fade-animation {
    0% {opacity : 1;}
    50% {opacity : 1;}
    100% {opacity : 0;}
}
@-webkit-keyframes 	firework-fade-animation {
    0% {opacity : 1;}
    50% {opacity : 1;}
    100% {opacity : 0;}
}
.fireWorkBatch {
    z-index : 999;
    position: absolute;
    top : 0px;
    left : 0px;
    animation-name : firework-fade-animation;
    animation-timing-function : cubic-bezier(0.5, 0, 1. 1);
    animation-duration : 2.5s;
}
.fireWorkParticle {
    z-index : 999;
    position: absolute;
    height : 5px;
    width : 5px;
    border-radius : 2.5px;
    animation-name : firework-animation;
    animation-timing-function : linear;
    animation-duration : 1s;
    animation-iteration-count : infinite;
}
.fireWorkSeed {
    z-index : 999;
    position: absolute;
    height : 5px;
    width : 5px;
    border-radius : 5px;
    animation-name : firework-seed-animation;
    animation-timing-function : linear;
    animation-duration : 0.5s;
    animation-iteration-count : infinite;
}

#title {
    font-family: 'Chalkduster', 'fantasy';
    font-size: 50px;
    margin: 10px;
    margin-bottom: 20px;
}
#new-game-btn{
    border-color: rgba(35, 141, 41, 0.966);
    padding: 7px;
    border-radius:5px;
    color:rgba(35, 141, 41, 0.966);
}
#delete-button{
    border-color: rgba(35, 141, 41, 0.966);
    padding: 7px;
    border-radius:5px;
    color:rgba(35, 141, 41, 0.966);
}
#reset-button{
    border-color: rgba(35, 141, 41, 0.966);
    padding: 7px;
    border-radius:5px;
    color:rgba(35, 141, 41, 0.966);
}

button:disabled,
button[disabled]{
  background-color: black;
  color: black;
}