#phrase li {
    display: inline;
    padding: 2px;
    font-size: 40px;
    position: relative;
    bottom: 30px;
}

img {

    height: 600px;
    position: relative;
    left:430px;
    
}

#winner {
    display: none;
    color: green;
}

#loser {
    display: none;
    color: red;
}

#new-game-btn {
    display: none;
}

#game {
    display: none;
}
#player-stats {
    float: left;
    position: relative ;
    left: 150px;
    top:30px;
    
}

#player-form {
    display: none;
}


.alphabet {
    position: relative;
    bottom: 450px;
    margin: 30px;
}
.winner {
    position: relative;
    left:50px;
    bottom: 450px;
    margin: 20px;
}
#new-game-btn{
    position: relative;
    bottom:450px;
}

#phrase-category {
    position: relative;
    bottom:450px;
}

button:disabled,
button[disabled]{
  /* border: 1px solid #999999; */
  background-color: black;
  color: black;
}