#phrase li {
    display: inline;
    padding: 2px;
    font-size: 50px;
}

#winner {
    display: none;
    color: green;
}

#loser {
    display: none;
    color: red;
}

#new-game-btn {
    display: none;
}

#game {
    display: none;
}

#player-form {
    display: none;
}